<div class="hero bg-base-200 min-h-screen">
	<div class="hero-content text-center">
		<div class="max-w-md">
			<h1 class="text-5xl font-bold">Telonet</h1>
			<p class="py-6">
				Tu oasis de descanso, donde cada detalle está diseñado para transformar tu estadía en una experiencia inolvidable.
			</p>
			<a href="dashboard/clientes" class="btn btn-primary">Comenzar</a>
		</div>
	</div>
</div>
